<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title><%= htmlWebpackPlugin.options.title %></title>
        <noscript>
            <h1>JavaScript is not available.</h1>
            <p>Sorry, Eccologic ASM requires JavaScript to be enabled. Please enable it to continue.</p>
        </noscript>
    </head>
    <body></body>
</html>