<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title><%= htmlWebpackPlugin.options.title %></title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.0.2/dist/darkly/bootstrap.min.css" integrity="sha256-IzD7YgcFC7mrH3sadY/G75Gc49OgfS5IVOgFlxtdoUI=" crossorigin="anonymous">
        <noscript>
            <h1>JavaScript is not available.</h1>
            <p>Sorry, Eccologic ASM requires JavaScript to be enabled. Please enable it to continue.</p>
        </noscript>
    </head>
    <body></body>
</html>